NEXT_PUBLIC_API_URL=http://localhost:4010
NEXT_PUBLIC_CHAIN_ID=0
NEXT_PUBLIC_CHAIN_NAME=X1 EcoChain
NEXT_PUBLIC_CHAIN_CURRENCY_SYMBOL=X1
NEXT_PUBLIC_CHAIN_EXPLORER_URL=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CONTRACT_ADDRESS=
