NEXT_PUBLIC_API_URL=http://localhost:4010
NEXT_PUBLIC_CHAIN_ID=10778
NEXT_PUBLIC_CHAIN_NAME="X1 EcoChain Testnet (Maculatus)"
NEXT_PUBLIC_CHAIN_CURRENCY_SYMBOL=X1T
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://maculatus-scan.x1eco.com/
NEXT_PUBLIC_RPC_URL=https://maculatus-rpc.x1eco.com/
NEXT_PUBLIC_CONTRACT_ADDRESS=0xB36B20436b1D8f67CFbBF83D79F5C000E823418D
